.pdf{
    margin-left: 310px;
    
}
.back a{
    color: black;
}


a.a {
    margin-left: 1000px;
    padding: 1.5rem 4rem;
    border: 3px solid #000;
    border-radius: 0;
    border-radius: 100vh;
    background: #fff;
  }
  
  a.a :before {
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    content: '';
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 3px dotted #000;
    border-radius: 100vh;
  }
  
