.table table-striped a{

    color: black;
    }
    .flax{
        display: flex;
        background-color: rgba(221, 221, 221, 0.667);
    }
    
    
    table {
        /* border-collapse: collapse;
        border-spacing: 30px 10px; */
        width:100vw;
        text-align: center;
        border: 2px solid rgb(127, 127, 127);
    }
    table a{
     color: black;
    }
    table a :hover{
        color: rgb(192, 192, 192);
       }
    #result{
        border: 2px solid rgb(127, 127, 127);
        /* margin-left: 736.5px; */
    }
    tr:nth-child(even) {
        background: #a4a4a45e;
    }
    
    tr:nth-child(odd) {
        background: rgba(212, 213, 213, 0.444);;
    }
.job_inf{
    margin-top: 10px;
}

